 .te{
    height: 502px;
    width: 1616px;
 }
 .mk{
   height: 502px;
   width:1615px;
 } 
 .df{
   height: 515px;
   width:1515px;
 } 
 
.amdu{
   padding-bottom: 50%;
   color: black;
   padding-left: 10%;
}
.kk{
   height: 515px;
   width:1515px;
 } 
 .sasi{
  height: 100px;
  width:200px
 }