.image1{
    height:600px;
    width:1200px;
}
.image2{
    height:600px;
    width:1200px;
}
.image3{
    height:600px;
    width:1200px;
}
.image4{
    height:600px;
    width:1200px;
}
.image5{
    height:600px;
    width:1200px;
}
.image6{
    height:600px;
    width:1200px;
}
.image7{
    height:700px;
    width:1400px;
}
.image8{
    height:500px;
    width:1200px;
}